.f_botton{
    font-family: "Segoe UI", Arial, sans-serif;
    font-size: 1vw;
    color: #ffffff;
    font-family:Arial, Helvetica, sans-serif;
   }

h1 {
    height: 10%;
    padding-left: 1vw;
    color: var(--color_secundario_a);
}

.thank {
    margin-top: 10%;
    font-size: 25px;
    color: var(--color_secundario_a);
    align-items: center;
    text-align: center;

}