/* TEXTO DE LOS BOTONES */

/* IMÁGENES */
.imagen_header {
    position: absolute;
    height: 20vh; /* Define una altura específica para el contenedor */
    width: 100%; /* Asegura que el contenedor ocupe todo el ancho */
}


.imagen_humo {
    height:var(--h_header_container); /* Define una altura fija o relativa */
    width: auto; /* Mantiene las proporciones automáticamente */
    position: absolute; /* No necesita ser absoluto en este caso */
    padding-left: 24vh;
   margin-top: -5vh;
    object-fit: contain; /* Ajusta la imagen sin recortarla */
}

.imagen_tatequieto {
    position: absolute;
    height: 7vh;
    padding-left: 17vh;
    margin-top: -2vh;
    object-fit: contain;
}

.picante {
    position: absolute;
    height: 25vh;
    padding-left: 17vh;
    margin-top: -13vh;
    object-fit: contain;
}

.imagen_laterales {
    position: relative;
}

.facebook, .instagram, .whatsapp, .email, .tiktok {
      height: 25px;
  }

.facebook:hover {
    content: url('imagenes/facebook2.svg');
  }
  .instagram:hover {
    content: url('imagenes/instagram2.svg');
  }
   .whatsapp:hover {
    content: url('imagenes/WHATSAPP2.svg');
  }
  .email:hover {
    content: url('imagenes/email2.svg');
  }
  .tiktok:hover {
    content: url('imagenes/tiktok2.svg');
  }